<h2 style="text-align:center;">Comp2</h2>
<hr>
<sly data-sly-use.model="com.argildx.demo.core.models.Comp2HelperModel"/>
<table style="width:100%">
  <tr>
    <th>Instance</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Company Name</th>
    <th>City</th>
  </tr>
  <tr style="text-align:center">
    <td>${model.ComponentModel.Instance}</td>
    <td>${model.ComponentModel.FirstName}</td>
    <td>${model.ComponentModel.LastName}</td>
    <td>${model.ComponentModel.CompanyName}</td>
    <td>${model.ComponentModel.City}</td>
  </tr>
</table>


